<div class="container">
    <form class="col-xl-12">
        <div class="form-group">
            <input type="text" class="form-control" list="bevlist" placeholder="Sök på drycker" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">            
        </div>
    </form>    
    <div class="row">
        <form class="col-xl-12" >
            <table class="table table-dark">
                <thead class="thead-light">
                    <tr>
                        <td></td>
                        <td>Namn</td>
                        <td>Användare</td>
                        <td>Sort & subsort</td>
                        <td>Procent</td>
                        <td>Smak</td>
                        <td>Pris</td>
                        <td>APK</td>
                    </tr>
                </thead>
                <tbody>                                                    
                        <tr *ngFor='let beverage of beverages | filter : search' >
                            <td>
                                <a href="{{ beverage.link }}"><img class='image' src="{{ beverage.img }}"/></a>
                            </td>
                            <td>
                                <h4>{{ beverage.name }}</h4>   
                                <div>
                                    <img *ngFor='let in of counter(beverage.score) ;let i = index'  src="/assets/img/star.png" class='staricon' />                            
                                    <img *ngFor='let in of counter(5 - beverage.score) ;let i = index'  src="/assets/img/darkstar.png" class='staricon' />
                                    <div id="{{ beverage.name }}" class='hide'>
                                        <input value='{{ beverage.score }}' type='range' min='1' max='5' class="custom-range" id="score{{ beverage._id }}"/>                                                                        
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4>{{ beverage.username }}</h4>    
                            </td> 
                            <td>
                                <h4>{{ beverage.type.typename }}   {{ beverage.type.subtype }}</h4>    
                            </td>                    
                            <td>
                                <h4>{{ beverage.procentage }}%</h4>    
                            </td>
                            <td>
                                <h4>{{ beverage.taste }}</h4>    
                            </td>
                            <td>
                                <h4>{{ beverage.price }}:sek</h4>    
                            </td><td>
                                <h4>{{ beverage.apk }}</h4>    
                            </td>                    
                            <td>
                            </td>
                        </tr>
                </tbody>
            </table>    
        </form>
        
    </div>
        
</div>