<div class="container">
    <form class="col-xl-12">
        <div class="form-group">
            <input type="text" class="form-control" list="bevlist" placeholder="Search for beverages" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">            
        </div>
    </form>        
    <div class="row">
        <form class="col-xl-12">
            <table class="table table-dark">
                <thead class="thead-light">
                    <tr>
                        <td></td>
                        <td>Namn</td>
                        <td>Sort</td>
                        <td>Procent</td>
                        <td>Smak</td>
                        <td>Pris</td>
                    </tr>
                </thead>
                <tbody>                                                    
                        <tr *ngFor='let beverage of beverages | filter : search' >
                            <td>
                                <img class='image' src="{{ beverage.img }}"/>
                            </td>
                            <td>
                                <h4>{{ beverage.name }}</h4>   
                                <div>
                                    <img *ngFor='let in of counter(beverage.score) ;let i = index'  src="/assets/img/star.png" style="width: 20px;" />                            
                                    <img *ngFor='let in of counter(5 - beverage.score) ;let i = index'  src="/assets/img/darkstar.png" style="width: 20px;" />
                                    <div id="updatebev">
                                        <input type='range' min='1' max='5' class="custom-range"/>                                                                        
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4>{{ beverage.type }}</h4>    
                            </td>                    
                            <td>
                                <h4>{{ beverage.procentage }}%</h4>    
                            </td>
                            <td>
                                <h4>{{ beverage.taste }}</h4>    
                                <div id="updatebev">
                                    <input type='text' class="form-control"/>
                                </div>
                            </td>
                            <td>
                                <h4>{{ beverage.price }}:sek</h4>    
                            </td>                   
                            <td>
                                <button (click)='showUpdateform()' type="button" class="btn btn-warning">Change information</button>
                                <button class="rmbutton" (click)='removeBeverage(beverage)'><img class="rmimg" src="assets/img/remove.png"/></button>                        
                            </td>
                        </tr>
                </tbody>
            </table>    
        </form>
        
    </div>
        
</div>