<br />
<div class="container">
    <br />
    <button type="button" class="btn btn-danger"  data-toggle='collapse' (click)="isCollapsed = !isCollapsed">Advanced admin tools</button> 
    <div class="collapse" [ngbCollapse]='isCollapsed'>
        <form class="col-xl-12" [formGroup]='adminForm'>
            <div class="form-group">
                <br />
                <label>Remove beverages containing the term 'EXEMPEL'</label>
                <input type="text" class="form-control" placeholder="Remove beverages with the term" formControlName='beveragename'>  
                <input type='button' class="btn btn-danger" (click)='removeBeverage(this.beveragename.value)' value="Ta bort dryck"/>
                
            </div>
            <label for="userlistinput">Remove user</label>
            <input id="userlistinput" list="UserList" placeholder="Search users" class="form-control pull-right" formControlName='userform'>                        
            <datalist id="UserList"  placeholder="name" >
                <option *ngFor='let user of userlist' [value]='user'>{{ user.username }} {{ user.usertype }}</option>
            </datalist>
            <input type='button' class="btn btn-danger" (click)='removeUser(this.userform.value)' value="Remove user"/>
            <br />
            <br />
            <button type="button" class="btn btn-warning"  data-toggle='collapse' (click)="isCollapsedAddUser = !isCollapsedAddUser">Add user</button> 
            <br />
            <div class="collapse" [ngbCollapse]='isCollapsedAddUser'>
                <input type="text" class="form-control" placeholder="User name" formControlName='username'>    
                <br />        
                <input type="text" class="form-control" placeholder="Password" formControlName='password'>            
                <br />
                <input type="text" class="form-control" placeholder="Validate Password" formControlName='valpassword'>            
                <br />
                <input type="text" class="form-control" placeholder="User type" formControlName='usertype'>
                <input type='button' class="btn btn-success" (click)='addUser(this.adminForm.value)' value="Confirm"/>
            </div>            
        </form>  
    </div>
    <br />
</div>