<div class="row" *ngIf='usermode'>
    <div class="col-xl-12" align="center">
        <h2>Favorit</h2>
        <h3>{{ this.mostdrunk.name }}</h3>
        <img src="{{ this.mostdrunk.img }}" class="image"/>      
        
    </div>
</div>
<app-addform></app-addform>
<app-admin-tools *ngIf='adminmode'></app-admin-tools>
<div class="container">
    <form class="col-xl-12">
        <div class="form-group">
            <input type="text" class="form-control" list="bevlist" placeholder="Sök på drycker" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">            
        </div>
    </form>          
    <div class="row">
        <form class="col-xl-12" >
            <table class="table table-dark">
                <thead class="thead-light">
                    <tr>
                        <td></td>
                        <td>Namn</td>
                        <td *ngIf='adminmode'>Användare</td>
                        <td>Sort</td>
                        <td>Procent</td>
                        <td>Smak</td>
                        <td>Pris</td>
                    </tr>
                </thead>
                <tbody>                                                    
                        <tr *ngFor='let beverage of beverages | filter : search' >
                            <td>
                                <img class='image' src="{{ beverage.img }}"/>
                            </td>
                            <td>
                                <h4>{{ beverage.name }}</h4>   
                                <div>
                                    <img *ngFor='let in of counter(beverage.score) ;let i = index'  src="/assets/img/star.png" style="width: 20px;" />                            
                                    <img *ngFor='let in of counter(5 - beverage.score) ;let i = index'  src="/assets/img/darkstar.png" style="width: 20px;" />
                                    <div id="{{ beverage.name }}" style="display: none;">
                                        <input value='{{ beverage.score }}' type='range' min='1' max='5' class="custom-range" id="score{{ beverage._id }}"/>                                                                        
                                    </div>
                                </div>
                            </td>
                            <td *ngIf='adminmode'>
                                <h4>{{ beverage.username }}</h4>    
                            </td> 
                            <td>
                                <h4>{{ beverage.type.typename }}  {{ beverage.type.subtype }}</h4>    
                            </td>                    
                            <td>
                                <h4>{{ beverage.procentage }}%</h4>    
                            </td>
                            <td>
                                <h4>{{ beverage.taste }}</h4>    
                            </td>
                            <td>
                                <h4>{{ beverage.price }}:sek</h4>    
                            </td>                   
                            <td>
                                <div>
                                    <button id="{{ beverage._id }}" (click)='showUpdateform(beverage)' type="button" class="btn btn-warning">Change information</button>
                                    <input id="{{ beverage.id }}" type='submit' (click)='Updateform(beverage, beverage.score)' class="btn btn-danger" style="display: none;" value="You're about to update some information">
                                    <button class="rmbutton" (click)='removeBeverage(beverage)'><img class="rmimg" src="assets/img/remove.png"/></button>                        
                                </div>
                            </td>
                        </tr>
                </tbody>
            </table>    
        </form>
        
    </div>
        
</div>