<div>
  <header class="jumbotron"> 
    <app-header></app-header>    
  </header>
  <nav id="navbar" class="navbar navbar-expand-sm bg-warning navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" id='links' href="#">Lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id='links' href="#">Apk lista</a>
      </li>      
    </ul>
    <ul class="navbar-nav ml-auto">
      <input type='text' class="form-control" placeholder="Login id"/>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </nav>  
  
  <app-addform></app-addform>
  <app-beverages></app-beverages>
</div>
